{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 offset-md-3 col-md-6">
            <h1 class="text-center">Login!</h1>
            <div class="card">
                <div class="card-block">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {{ form_start(form) }}
                        {{ form_row(form._username) }}
                        {{ form_row(form._password) }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" formnovalidate>Anmelden</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="card">
                <div class="card-block text-center">
                    <a href="{{ path('register') }}" >Registrieren</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}