{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register!</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first, {
            'label': 'Kennwort:'
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': 'Kennwort wiederhoden:'
        }) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
    {{ form_end(form) }}
{% endblock %}