{% use "bootstrap_3_layout.html.twig" %}

{# Rows #}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-danger{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-danger{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="form-group{% if not valid %} has-danger{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-control-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{# Widgets #}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
        {% if (not compound or force_error|default(false)) and not valid %}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control-danger')|trim}) -%}
        {% endif %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <div class="form-control-feedback">
            <ul class="list-unstyled">
                {%- for error in errors -%}
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}